.image{
	background: url('imgfond/032_L.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.image2{
	background: url('imgfond/010_L.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.image3{
	background: url('imgfond/046_L.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.centrer{
	text-align: center;
}

img{
	margin-top: 20px;
}

section{
	min-height: 100vh;
}

.titre1{
	font-family: century;
	color: black;
 	border-radius: 10px;
 	padding: 2px;
 	margin-top: 15px;
}

.titre{
	text-align: center;
}

.p1{
	padding: 5px;
	font-family: Verdana;
	font-size: 16px;
	color: black;
	text-align: justify;
}

.contour{
	padding: 6px;
	background-color: rgba(115, 160, 150, 0.2);
	border-width: 2px;
	border-style: solid;
 	border-color: white;
 	border-radius: 10px;
 	display: inline-block;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:20px;
  }